.sidebar{
  font-family: MyriadPro-Light;
  height: 100vh;
  position: fixed;
  overflow: auto;
  z-index: 1000;
}
.sidebar-menu{
  width: 170px;
  border: 1px;
  border-radius: 3px;
  box-shadow: 1px 0px 2px grey;
  margin: auto;
  padding: 10px;
  margin-top: 60px;
  overflow-wrap:break-word;
}

@media screen and (max-width:768px) {
  .sidebar-menu{
    width: 170px;
  }
}
