<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
  <!--<meta charset="UTF-8">-->
  <!--<meta name="viewport"-->
        <!--content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
  <!--<meta http-equiv="X-UA-Compatible" content="ie=edge">-->
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
  <!--<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>-->
  <!--<link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet">-->
  <!--<title>Document</title>-->
  <!--<link rel="stylesheet" href="product.component.css">-->
<!--</head>-->
<!--<body>-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3 card">
                <span class="img">
                  <button class="btn btn-success" (click)="getJ()">Get JSON</button>
                </span>
            </div>
        </div>
    </div>
<!--</body>-->
<!--</html>-->
