/* You can add global styles to this file, and also import other style files */
bode{
  background-size: cover;
}
@font-face {
  font-family: 'MyriadPro-Light';
  src: url('assets/Myriad-Pro-Light_31642.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
